&.toTake {
  > div {
    > div {
      > span {
        &.state::before {
          background-color: $red_cinnabar;
        }
      }
      &:last-child {
        background-color: $white_alabaster;
        > div {
          a {
            color: $blue_havelock;
          }
        }
      }
    }
  }
  button {
    background-color: $red_carnation;
    &:hover {
      background-color: $red_cinnabar;
    }
  }
}

&.toDo {
  > div {
    > div {
      > span {
        &.state::before {
          background-color: $green_jungle;
        }
      }
      &:last-child {
        background-color: $white_alabaster;
        > div {
          button {
            font-size: 1rem;
            &.submit {
              background-color: $blue_havelock;
              &:hover {
                background-color: $blue_mariner;
              }
            }
            &.cancel {
              background-color: $red_carnation;
              &:hover {
                background-color: $red_cinnabar;
              }
              i {
                padding: 0 1.5px;
              }
            }
          }
          a {
            color: $blue_havelock;
          }
        }
      }
    }
  }
}

&.doing {
  > div {
    > div {
      > span {
        &.state::before {
          background-color: $blue_havelock;
        }
      }
      &:last-child {
        background-color: $blue_havelock;
        p {
          color: white;
        }
        .user-img {
          display: inline;
          border: 1px solid white;
        }
        h5 {
          padding-top: 5px;
          color: white;
        }
      }
    }
  }
  button {
    background-color: $red_carnation;
    &:hover {
      background-color: $red_cinnabar;
    }
  }
}


&.done {
  > div {
    > div {
      background-color: rgba($grey_bluewood, 0.15);
      > span {
        &.state::before {
          background-color: rgba($grey_bluewood, 0.4);
        }
      }
      &:last-child {
        background-color: rgba($grey_bluewood, 0.4);
        color: white;
        i {
          font-size: 2rem;
          padding-bottom: 5px;
        }
        p {
          color: white;
        }
        h5 {
          padding-top: 5px;
          color: white;
        }
      }
    }
  }
}
