body, html{
	font-family: $avenir;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	width: 100vw;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	background-color: $grey_alabaster;
}

.nav .active {
	background-color: $blue_mariner;
}

.container {
  width: 100%;
	height: 100vh;
	padding: 140px 30px 20px 130px;
  @media screen and (max-width: 640px)  {
    padding: 120px 0px 20px 100px;
  }
}

.content-container {
  padding: 50px;
  @media screen and (max-width: 640px)  {
    padding: 50px 20px;
  }
  &.requests {
    padding: 40px 0;
  }
}

.contain-table {
  display: table;
  width: 100%;
  .v-center {
    display: table-cell;
    vertical-align: middle;
  }
  .h-center {
    display: table-cell;
    text-align: center;
  }
}

a {
  display: block;
}

*{
	transition: 150ms all ease;
}

// ERRORS MESSAGES
.msg-error-match-passw, .msg-error-user-exist {
  color: $red_cinnabar;
  font-weight: bold;
  padding-bottom: 20px;
}

input.input_hide{
	display: none !important;
}
// article.page_content{
//  z-index: 1;
//  padding-top: 100px;
//  min-height: 550px;
//  width: 960px;
//  margin: 0 auto;
//  overflow: scroll;

//  h1{
//    padding: 30px 0px;
//    font: 22px/30px 'MSB', sans-serif;
//    text-transform: uppercase;
//    color: $gray_medium_dark;
//  }
//  h2{
//    font: 16px 'LL';
//    margin-bottom: 20px;
//  }
//  section{
//    position: relative;
//    overflow: scroll;
//    color : $gray_medium_dark;
//  }

// }