footer{
	position: relative;
	background-color: $white_not_white;
	border-top: 1px solid rgba(100, 150, 250, 0.2);
	height: 180px;

	span.copyright{
		position: absolute;
		bottom: 15px;
		width: 100%;
		font-family: 'MS';
		font-size: 10px;
		color: $gray_medium_dark;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}