article.inscription_phase{
	margin-top: 150px;	// sinon les formulaires sont recouverts par le header

	form{
		width: 300px;

		input{
			width: 100%;
			border: none;
			border-radius: 4px;
			padding: 10px;
			font: 14px 'LL';
			outline: none;
			margin-top: 10px;

			&.invalid{
				border-radius: 4px 0px 0px 4px;
				border-right: 3px solid rgba(200,100,100,0.6);
			}
			&.valid{
				border-radius: 4px 0px 0px 4px;
				border-right: 3px solid rgba(100,200,100,0.6);
			}
		}
	}
}

article#inscription_user{

}

article#coprop_creation{
	
}

article#invit_coproprios{

	span.add_mail_field{
		margin-top: 10px;
		padding: 10px;
		border: 1px solid silver;
		border-radius: 4px;
		text-align: center;
		color: silver;
		cursor: pointer;
	}
}

