article#container-404{
	width: 100vw;
	height: 100vh;
	background-color: $white_gold_light;
	text-align: center;

	div{
		width: 600px;
		height: 430px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'LL';
		text-align: center;

		h1, h2{
			width: 100%;
		}

		h1{
			width: 100%;
			font-family: 'MS';
			font-size: 300px;
	    		color: rgba(200, 200, 200, 0.2);
		}

		h2{
			font-size: 16px;
			position: absolute;
			top: 160px;
		}

		span{
			display: block;
			margin-top: 20px;

			a{
				font-family: 'MSB';
				font-size: 15px;
				color: black;
				text-transform: uppercase;
				padding-bottom: 4px;
				border-bottom: 1px solid black;

				&:hover{
					color: #20B88A;
					border-bottom: 1px solid #20B88A;
				}
			}
		}
	}
}