/* ——— COLORS ——— */

// Blue
$blue_havelock : #4A90E2;
$blue_mariner : #387CCB;

// Red
$red_cinnabar : #E74C3C;
$red_carnation : #F26455;

// Yellow
$yellow_buttercup : #F1C40F;

// Green
$green_jungle : #27AE60;

// Black, grey, white
$black_abbey : #4C4F51;

$grey_alabaster : #F8F8F8;
$grey_iron : #D9DADB;
$grey_silver_chalice : #A0A0A0;
$grey_tundora : #4A4A4A;
$grey_bluewood : #34495E;

$white_alabaster: #FBFBFB;







$green_blue: #28A6AB;
$green_blue_light: #50E3C2;

$orange: #F79F66;
$orange_light: #F5A623;
$orange_dynamic: #FAB63A;

$black_light: #313131;
$gray_dark: #4A4A4A;
$gray_medium_dark: #6D6D6D;
$gray_medium: #9B9B9B;
$gray_light: silver;
$white_gold: #CDC5B9;
$white_gold_light : #F9F8F5;
$white_not_white: #F5F5F5;