// Variables
$avenir : "Avenir", sans-serif;

.title {
  font-family: $avenir;
  font-weight: bold;
  font-style: normal;
  color: $black_abbey;
}

.item-subtitle {
  font-family: $avenir;
  font-weight: normal;
  font-style: normal;
  color: $blue_havelock;
}

.content {
  font-family: $avenir;
  font-weight: 500;
  font-style: normal;
}