@charset "UTF-8";
/* MODULES
   ========================================================================== */
@-webkit-keyframes indexAppear {
  0%, 15% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes indexAppear {
  0%, 15% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes loader {
  0%, 10% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 1; }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0; }
  60.1% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0; }
  60.2% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0; } }

@keyframes loader {
  0%, 10% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 1; }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0; }
  60.1% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0; }
  60.2% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0; } }

@-webkit-keyframes scaleOnClick {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1; }
  25% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
    opacity: 1; }
  50% {
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
    opacity: 0; } }

@keyframes scaleOnClick {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1; }
  25% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
    opacity: 1; }
  50% {
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
    opacity: 0; } }

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@-webkit-keyframes bounceRight {
  0%, 100% {
    right: 18px; }
  50% {
    right: 12px; } }

@keyframes bounceRight {
  0%, 100% {
    right: 18px; }
  50% {
    right: 12px; } }

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px; }

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

/* MAIN
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

strong, b {
  font-weight: bold;
  font-weight: 600; }

i {
  font-style: italic; }

img {
  height: auto;
  max-width: 100%;
  width: auto\9; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

span, img {
  display: block; }

/* Avenir LT Std
   ========================================================================== */
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Regular.eot");
  src: url("../fonts/Avenir-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Regular.woff") format("woff"), url("../fonts/Avenir-Regular.ttf") format("truetype"), url("../fonts/Avenir-Regular.svg#Avenir-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Medium.eot");
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Black.eot");
  src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype"), url("../fonts/Avenir-Black.svg#AvenirLTStd-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

/* ——— COLORS ——— */
.title {
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #4C4F51; }

.item-subtitle {
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #4A90E2; }

.header-content {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: #D9DADB;
  letter-spacing: 0.1px; }

article#container-404 {
  width: 100vw;
  height: 100vh;
  background-color: #F9F8F5;
  text-align: center; }
  article#container-404 div {
    width: 600px;
    height: 430px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: 'LL';
    text-align: center; }
    article#container-404 div h1, article#container-404 div h2 {
      width: 100%; }
    article#container-404 div h1 {
      width: 100%;
      font-family: 'MS';
      font-size: 300px;
      color: rgba(200, 200, 200, 0.2); }
    article#container-404 div h2 {
      font-size: 16px;
      position: absolute;
      top: 160px; }
    article#container-404 div span {
      display: block;
      margin-top: 20px; }
      article#container-404 div span a {
        font-family: 'MSB';
        font-size: 15px;
        color: black;
        text-transform: uppercase;
        padding-bottom: 4px;
        border-bottom: 1px solid black; }
        article#container-404 div span a:hover {
          color: #20B88A;
          border-bottom: 1px solid #20B88A; }

/* LAYOUTS
   ========================================================================== */
body, html {
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #F8F8F8; }

.active {
  background-color: #387CCB; }

.container {
  width: 100%;
  padding: 20px 80px 20px 130px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: none !important; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none !important; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(10, 10, 10, 0.3); }

* {
  -webkit-transition: 150ms all ease;
          transition: 150ms all ease; }

article.page_content {
  z-index: 1;
  padding-top: 100px;
  min-height: 550px;
  width: 960px;
  margin: 0 auto;
  overflow: scroll; }
  article.page_content h1 {
    padding: 30px 0px;
    font: 22px/30px 'MSB', sans-serif;
    text-transform: uppercase;
    color: #6D6D6D; }
  article.page_content h2 {
    font: 16px 'LL';
    margin-bottom: 20px; }
  article.page_content section {
    position: relative;
    overflow: scroll;
    color: #6D6D6D; }
  article.page_content .input_hide {
    display: none; }

header {
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: white;
  z-index: 10; }
  header ul li {
    display: inline-block; }
    header ul li h2.title {
      font-size: 1.5rem;
      padding-bottom: 5px; }
    header ul li p.header-content {
      display: inline-block;
      padding-right: 20px; }
    header ul li i {
      padding-right: 10px; }
  header ul:nth-child(2) {
    position: absolute;
    top: 0;
    right: 84px;
    padding: 20px 20px 17px;
    background-color: #FBFBFB; }
    header ul:nth-child(2) li {
      text-align: center;
      vertical-align: middle;
      padding: 0 10px; }
      header ul:nth-child(2) li h3.title {
        font-size: 1rem;
        margin-bottom: 5px; }
      header ul:nth-child(2) li .item-subtitle {
        font-size: 0.9rem; }
      header ul:nth-child(2) li .user-img {
        display: inline-block; }
      header ul:nth-child(2) li:last-child {
        padding-right: 20px; }
  header .fa-user-plus {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 1.6rem;
    padding: 29px;
    background-color: #4A90E2; }

nav {
  position: fixed;
  z-index: 1;
  width: 100px;
  height: 100vh;
  background-color: #4A90E2; }
  nav ul {
    font-weight: 500;
    padding-top: 150px;
    color: white;
    text-align: center;
    font-size: 0.9rem; }
    nav ul li i {
      padding-bottom: 10px; }
    nav ul li a {
      color: white;
      display: block;
      padding: 15px 0; }
    nav ul li .fa-home, nav ul li .fa-lightbulb-o, nav ul li .fa-cogs {
      font-size: 2rem; }
    nav ul li .fa-sign-out {
      font-size: 1.5rem; }
    nav ul li:hover {
      background-color: #387CCB; }
    nav ul li:last-child {
      position: absolute;
      left: 0;
      bottom: 0; }
      nav ul li:last-child a {
        padding: 15px 12.5px; }

article.inscription_phase form {
  width: 300px; }
  article.inscription_phase form input {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font: 14px 'LL';
    outline: none;
    margin-top: 10px; }

article#invit_coproprios span.add_mail_field {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  text-align: center;
  color: silver;
  cursor: pointer; }

article#dashboard section.circles a.button-add-circle {
  position: relative;
  display: block;
  margin: 20px 0px;
  text-align: center; }

article#dashboard section.circles div.circle {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 20px; }
  article#dashboard section.circles div.circle img {
    float: left;
    width: 100px;
    height: 70px; }

article#circle h1 {
  padding: 30px 0px;
  font: 22px/30px 'MSB', sans-serif;
  text-transform: uppercase;
  color: #6D6D6D; }

article#circle section.requests a.button-add-request {
  position: relative;
  display: block;
  margin: 20px 0px;
  text-align: center; }

article#circle section.requests div.request {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 20px; }
  article#circle section.requests div.request img {
    float: left;
    width: 100px;
    height: 70px; }

footer {
  position: relative;
  background-color: #F5F5F5;
  border-top: 1px solid rgba(100, 150, 250, 0.2);
  height: 180px; }
  footer span.copyright {
    position: absolute;
    bottom: 15px;
    width: 100%;
    font-family: 'MS';
    font-size: 10px;
    color: #6D6D6D;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
