article#circle{
	h1{
		padding: 30px 0px;
		font: 22px/30px 'MSB', sans-serif;
		text-transform: uppercase;
		color: $gray_medium_dark;
	}
	h2{

	}

	section.requests{

		a.button-add-request{
			position: relative;
			display: block;
			margin: 20px 0px;
			text-align: center;
		}

		div.request{
			position: relative;
			width: 100%;
			float: left;
			margin-bottom: 20px;

			img{
				float: left;
				width: 100px;
				height: 70px;
			}
		}
	}
}