body, html{
	font-family: 'LR';
	font-size: 14px;
	background-color: $white_gold_light;
	width: 100vw;	
	overflow-x: hidden;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: none;
	 background: none !important;
	//background: rgba(100,100,100,0.9);
}

::-webkit-scrollbar{
	width: 5px;
	height: 5px;
	background: none !important;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: rgba(10,10,10,0.3);
}

*{
	transition: 150ms all ease;
}

article.page_content{
	z-index: 1;
	padding-top: 100px;
	min-height: 550px;
	width: 960px;
	margin: 0 auto;
	overflow: scroll;

	h1{
		padding: 30px 0px;
		font: 22px/30px 'MSB', sans-serif;
		text-transform: uppercase;
		color: $gray_medium_dark;
	}
	h2{
		font: 16px 'LL';
		margin-bottom: 20px;
	}
	section{
		position: relative;
		overflow: scroll;
		color : $gray_medium_dark;
	}

	.input_hide{
		display: none;
	}
}