header{
	position: fixed;
	height: 100px;
	width: 100vw;
	background-color: $white_not_white;
	border-bottom: 1px solid rgba(100, 150, 250, 0.2);
	color: $gray_medium;
	z-index: 10;

	div.center{
		margin: 0 auto;
		width: 960px;
		height: 100%;
		

		a.logo{
			display: block;
			margin-top: 27px;
			margin-left: 25px;
			float: left;
			height: 50px;
			width: 50px;
			border: 1px solid $orange;
			border-radius: 100%;
			padding: 10px;		

			span{
				height: 100%;
				width: 100%;
				font-family: 'MS';
				color: rgba(100, 150, 250, 1);
				font-size: 16px;
				text-align: center;
				padding-top: 6px;
			}				
		}
		h1{
			margin-left: 20px; 
			margin-top: 43px;
			float: left;
			font-family: 'MS';
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $gray_medium;
		}
		div.menu{
			float: right;	
			height: 100%;
			
			a{
				float: left;
				display: block;
				height: 100%;
				min-width: 100px;
				position: relative;
				font-size: 16px;
				color: $gray_medium;
				padding: 42px 23px 0px;
				text-align: center;
				transition: 50ms all ease;
				
				// @media (max-width: 725px) {
				// 	display: none;
				// }
				&.icon-menu-mobile{
					display: none;
					padding-top: 32px;
					cursor: pointer;
					// background: url(../img/icon-menu-mobile.svg) no-repeat center;
					// background-size: 100% 100%;
					span{
						margin: 5px auto 0px;
						width: 25px;
						height: 2px;
						background-color: $gray_light;
						border-radius: 3px;

						&:nth-child(1){
							//margin-top: 20px;
						}
					}

					@media (max-width: 725px) {
						display: block;
					}
				}

				&:hover{
					color: $orange;
					//background-color: rgba(200, 200, 200, 0.05);
				}
				span.selector{
					margin: 10px auto 0px;
					height: 1px;
					width: 20px;
					background-color: $orange;
				}				
				&.lang{
					position: relative;
					padding-left: 0px;
					&:hover{
						span.arrow-right{
							right: 14px;
						}
						span.comingsoon{
							opacity: 1;
							top: 60px;
						}
					}
					p{
						position: relative;
					}
					span.arrow-right{
						position: absolute;
						height: 10px;
						width: 5px;
						right: 18px;
						top: 4px;
						background: url(../img/arrow-right.svg) no-repeat center;
						background-size: contain;
					}
					span.comingsoon{
						position: absolute;
						height: 10px;
						width: 55px;
						left: 18px;
						top: 55px;
						opacity: 0;
						font-family: 'LL';
						font-size: 11px;
						color: $gray_light;
					}
				}
			}
		}
		@media (max-width: 875px) {
			width: 100%;
		}
	} // end center
}// end header